* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
/* scroll  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 #c7c7c7;
  box-shadow: inset 0 0 0 #c7c7c7;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 0 #f1f1f1;
  box-shadow: inset 0 0 0 #f1f1f1;
  border-radius: 5px;
}
